<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="CDErrorLogFileName" value="ContractDetails.log"/>
    <add key="DumpXML" value="Y"/>
    <add key="CDTabs-PolicyWarningXsl" value="C:\inetpub\wwwroot\CSA\Contract details\Xsl\SecurityTabPolWarning.xsl"/>
    <add key="FieldNet-AcctLookUp" value="https://fieldnet-dev.massmutual.com/paar/accountLookupPCDN.do?method=initialLookup"/>
    <add key="EAIRetryCount" value="3"/>
    <add key="CDTabsCookieName" value="CDTabs"/>
    <add key="CDCommandTimeOut" value="600"/>
    <add key="MaxCharPerTabRow" value="60"/>
    <add key="GateWay" value="NOT USED"/>
    <add key="AODBDNS" value="SILAODB"/>
    <add key="AODBSVR" value="SQL001"/>
    <add key="AODBDB" value="SILAODB"/>
    <add key="AODBUID" value="bpccsout"/>
    <add key="AODBUPD" value="BPCCSOUT"/>
    <!-- THESE ARE USED BY THE KEYBOARD TAB...POLARIS LEFT NAV BAR GETS URL'S FROM CSA\WEB DLLS\VALUES.INI -->
    <add key="OTA_URL" value="http://mminfo-dev.private.massmutual.com/tradwma-dv22i225/login.jsf"/>
    <add key="OTA_Environment" value="kt08"/>
    <add key="NonTrad_OTA_URL" value="http://mminfo-dev.private.massmutual.com/i224_wma/login.jsf"/>
    <add key="NonTrad_OTA_Environment" value="JT14"/>
    <add key="CDTabs-GPA_Rate" value="outlook://Public folders\All Public Folders\PL-IAP Line Folders\Annuities\Annuity Service Center\Interest Rates"/>
    <add key="CDTabs-VantageRiderInfo" value="/contractdetails/Vantage Rider Options.pdf"/>
    <add key="AppLaunchObjectName" value="MFAppLaunch_Net.cl_Launch"/>
    <add key="CDTabs-HostSys" value="tptest"/>
    <add key="CDTabs-VantageHostSys" value="LOGON APPLID(CICMMCSP)"/>
    <add key="CDTabs-VantageSession" value="MMCSP"/>
    <add key="CDTabs-AlsSession" value=""/>
    <add key="CDTabs-MaxSessions" value="5"/>
    <add key="CONSERVATION-COUNT" value="5"/>
    <add key="CONSERVATION-QUESTION" value="Ask: Is there a particular reason for surrendering your policy?"/>
    <add key="CONSERVATION-1" value="PURCHASING TERM"/>
    <add key="CONSERVATION-2" value="NEED MONEY"/>
    <add key="CONSERVATION-3" value="CAN'T AFFORD"/>
    <add key="CONSERVATION-4" value="POLICY NOT EARNING MUCH"/>
    <add key="CONSERVATION-5" value="COVERED THROUGH WORK"/>
    <add key="CONSERVATION-COUNT-1" value="2"/>
    <add key="CONSERVATION-QUESTION-1" value="Ask: Do you completely understand the differences between Life and Term Insurance?"/>
    <add key="CONSERVATION-QUESTION-1-1" value="A: Most Term earns no cash value"/>
    <add key="CONSERVATION-QUESTION-1-2" value="B: Children may need $ for schooling; down payment for a home; retirement"/>
    <add key="CONSERVATION-COUNT-2" value="3"/>
    <add key="CONSERVATION-QUESTION-2" value="Ask: Are you aware that your policy may have cash value that you could take a loan against and still keep the policy?"/>
    <add key="CONSERVATION-QUESTION-2-1" value="A: No need to pay back loan, pay interest."/>
    <add key="CONSERVATION-QUESTION-2-2" value="B: Give loan rate, interest billed annually on anniversary, loan 3 days vs. surrender 3 weeks."/>
    <add key="CONSERVATION-QUESTION-2-3" value="C: Is there PD or DA to take cash?"/>
    <add key="CONSERVATION-COUNT-3" value="2"/>
    <add key="CONSERVATION-QUESTION-3" value="Ask: If there were a way, would you be interested in keeping your policy?"/>
    <add key="CONSERVATION-QUESTION-3-1" value="A: Reduced paid up, check SDO, PD/DA, loan."/>
    <add key="CONSERVATION-QUESTION-3-2" value="B: Are there other policies to draw from?"/>
    <add key="CONSERVATION-COUNT-4" value="0"/>
    <add key="CONSERVATION-QUESTION-4" value="Ask: Does policy have a loan? Has policy been updated?"/>
    <add key="CONSERVATION-COUNT-5" value="0"/>
    <add key="CONSERVATION-QUESTION-5" value="Explain: You won't have coverage if you quit or lose your job.  Your issue age will have to be changed and may cost more."/>
    <!-- THESE ARE USED BY THE CDMENU COMPONENT -->
    <add key="TabsPage" value="/ContractDetails/Default.aspx"/>
    <add key="TabsPage2" value="/ClientSearchJ2EE/ClientSearchJ2EEForward.aspx"/>
    <add key="SitePath" value="/csa"/>
    <add key="ItemCount" value="2"/>
    <add key="MenuItem1" value="Case Assignment Warnings"/>
    <add key="MenuPage1" value="/CAWarn/CAWarn.ASP"/>
    <add key="MenuTarget1" value="Null"/>
    <add key="MenuHeight1" value="300"/>
    <add key="MenuWidth1" value="550"/>
    <add key="MenuTool1" value="NO"/>
    <add key="MenuScroll1" value="Yes"/>
    <add key="MenuResize1" value="Yes"/>
    <add key="MenuItem2" value="Mainframe Preferences"/>
    <add key="MenuPage2" value="/MFScreens/Preference.asp"/>
    <add key="MenuTarget2" value="Null"/>
    <add key="MenuHeight2" value="480"/>
    <add key="MenuWidth2" value="360"/>
    <add key="MenuTool2" value="No"/>
    <add key="MenuScroll2" value="No"/>
    <add key="MenuResize2" value="No"/>
    <add key="Virtualname" value="http://usigpolarisdv02/CSA"/>    
    <add key="MMFASearch" value="MMFA"/>
    <add key="MMSDSearch" value="MMSD"/>
    
    <add key="AgreementTokenUrl" value="https://massmutual.oktapreview.com/oauth2/aus105v68r5dqfSjM0h8/v1/token"/>
    <add key="AgreementClientId" value="0oa2d4v53lfJTSnb70h8"/>
    <add key="AgreementClientSecret" value="Vuoe9XQGY4ni3IoGjEVtdh00p6RYkJCv_ihj_ZcEQJjSGFo8ztseHmiu8qL-ybIo"/>
    <add key="AgreementScope" value="agreement_channel_ro"/>
    <add key="AgentGrantType" value="client_credentials"/>    
    
    <add key="OktaTokenName" value="OKTA Token"/>
    
    <add key="OAuthServerScheme" value="https"/>
    <add key="OAuthServerHost" value="massmutual.oktapreview.com"/>
    <add key="ProducerNonProdOAuthServer" value="/oauth2/ausy4su50amowIyPQ0h7/v1/token"/>
    <add key="ProduerTokenGrantScope" value="grant_type=client_credentials&amp;scope=producer_ro"/>
    
    <add key="AgentNonProdOAuthServer" value="/oauth2/ausy4su50amowIyPQ0h7/v1/token"/>
    <add key="AgentTokenTokenGrantScope" value="grant_type=client_credentials&amp;scope=profile_ro"/>  
        
    <add key="AgreementApiUrl" value="https://apis-qa.apip.nsawsnprd.massmutual.com/rest/agreementchannelapi/v1/customers/agreements/channel"/>
    <add key="ProducerApiUrl" value="https://apis-qa.apip.nsawsnprd.massmutual.com/rest/producersapi/v1/producers/cores"/>
    <add key="AgentProfileApiUrl" value="https://apis-qa.apip.nsawsnprd.massmutual.com/rest/agentprofileapi/v1/agent/profile"/>
  
  
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<httpRuntime targetFramework="4.7.1"/>-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Sybase.AdoNet2.AseClient, Version=1.15.186.0, Culture=neutral, PublicKeyToken=95D94FAC46C88E1E"/>
        <add assembly="MM.Enterprise.Framework, Version=1.0.0.1, Culture=neutral, PublicKeyToken=83F77E2C3125390B"/>
        <add assembly="ORB_Utilities, Version=1.0.0.8, Culture=neutral, PublicKeyToken=97BA5BC3D924C820"/>
        <add assembly="ORB_ILDM, Version=1.0.2.9, Culture=neutral, PublicKeyToken=97BA5BC3D924C820"/>
        <add assembly="MM.Enterprise.WebServices, Version=1.0.0.1, Culture=neutral, PublicKeyToken=88940c6557f21202"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <!--<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>-->
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ORB_ILDM" publicKeyToken="97BA5BC3D924C820"/>
        <bindingRedirect oldVersion="1.0.2.7" newVersion="1.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>-->
  </system.webServer>
</configuration>